//
//// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
//
//// Variables
//@import 'variables';
//
//// Bootstrap
//@import '~bootstrap/scss/bootstrap';
//
//.navbar-laravel {
//  background-color: #fff;
//  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
//}

#example {
    //text-align: center;
    background: #00B900;
}
//
//.aaa {
//    padding: 3px 150px;
//}
//
.message {
    border: thin solid white;
    border-radius: 5px;
    background: white;
}

.myMessage {
    margin-left: 50%;
}

.othersMessage {
    margin-right: 50%;
}
//
//.textBox {
//    width: 100%;
//}
//
//.sendButton {
//    width: 10%;
//}

textAlignCenter, p {
    text-align: center;
}
